.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    table, th, td {
    border:1px solid black;
}
}
.his{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        position: relative;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }
    button:nth-child(2){
        background: red;
    }
}
